body {
   background-color: #ffcccc;
   background-image: url("../img/bg.jpg");
}

.red {
  color: #ff0000;
}

.buffer {
  padding-left: 10px;
}

.vertbuffer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fineprint {
  font-size: 10px;
  line-height: .8;
  font-style: italic;
}

.welcome {
  visibility: hidden;
}

/* unquiet when welcome functionality is established
.menu {
  display: none;
}*/

.receipt {
  display: none;
}
